<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contato</title>
    <link rel="stylesheet" href="/static/css/cardapio.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/template/index.html">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/template/cardapio.html">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/template/delivery.html">Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/template/contato.html">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h1>CONHEÇA O CARDÁPIO KOMOREBI</h1>
  <div class="card">
  <img src="/static/img/CARDAPIO1.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Unagi Nigiri</h5>
    <p class="card-text"> (10 unidades): Suculento filé de enguia de água doce grelhada com molho adocicado teriyaki e sementes de gergelim sobre arroz temperado.  

R$ 36,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>

  <div class="card">
  <img src="/static/img/CARDAPIO2.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Ikura Gunkan</h5>
    <p class="card-text"> (10 unidades): Enrolado de alga nori crocante recheado com arroz e coberto com generosas ovas brilhantes de salmão e lâminas finas de pepino. 

R$ 42,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
  <div class="card">
  <img src="/static/img/CARDAPIO3.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Combinado Tradicional</h5>
    <p class="card-text">(12 peças): Seleção clássica com nigiris de salmão, atum, camarão, omelete (tamago) e hossomakis de pepino e atum. 
 
R$ 68,00.</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
  <div class="card">
  <img src="/static/img/CARDAPIO4.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Kaiseki Tasting Experience:</h5>
    <p class="card-text"> Banquete degustação com porções individuais de cozidos, grelhados na pedra vulcânica, tempurá e sashimi de peixes nobres. 

R$ 210,00.</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>

  <div class="card">
  <img src="/static/img/CARDAPIO5.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Sashimi de Salmão</h5>
    <p class="card-text"> (5 fatias): Cortes fatiados e frescos de salmão, acompanhados de gengibre e wasabi. 

R$ 38,00.</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
  <div class="card">
  <img src="/static/img/CARDAPIO6.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Barca de Polvo (Tako Sashimi):</h5>
    <p class="card-text"> Fatias de polvo macio levemente cozido sobre cama de gelo com pepino trabalhado. 

R$ 52,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
</div>

  <div class="card">
  <img src="/static/img/CARDAPIO7.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Sorvete de Matcha:</h5>
    <p class="card-text"> Duas bolas de sorvete artesanal de chá verde com sabor levemente amargo e refrescante. 

R$ 22,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
</div>
  <div class="card">
  <img src="/static/img/CARDAPIO8.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Kakigori (Gelo Raspado):</h5>
    <p class="card-text"> Sobremesa tradicional de gelo raspado disponível nos sabores morango, melão, chá verde e blueberry. 
 
R$ 18,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
</div>

  <div class="card">
  <img src="/static/img/CARDAPIO9.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Kakigori (Gelo Raspado):</h5>
    <p class="card-text"> Ramen da Casa: Caldo encorpado servido com macarrão artesanal, ovo cozido marinado, naruto, broto de feijão R$37,00</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
</div>


  <div class="card">
  <img src="/static/img/CARDAPIO10.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Kakigori (Gelo Raspado):</h5>
    <p class="card-text"> Tonkatsu Teishoku: Lombo de porco empanado e crocante em farinha panko, servido com repolho, missoshiru e arroz R$35,99.</p>
    <a href="#" class="btn btn-primary">FAÇA SEU PEDIDO</a>
  </div>
</div>
</div>









</div>  
    
     <footer
    id="contato"
    class="site-footer"
  >

    <div class="container">

      <div class="row align-items-center">

        <!-- Informações -->
        <div
          class="col-md-6 text-md-start text-center mb-3 mb-md-0"
        >

          <strong>
            Restaurante Komorebi
          </strong>

          <span>
            — © <span id="year"></span>
          </span>

        </div>


        <!-- Links -->
        <div
          class="col-md-6 text-md-end text-center"
        >

          <a
            href="#"
            class="me-3"
          >
            Política de privacidade
          </a>

          <a href="#">
            Termos
          </a>

        </div>

      </div>

    </div>

</footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>